force-app/main/default/flows/Application_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_App_Id</name>
        <label>Assign App Id</label>
        <locationX>726</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>varClonedApplicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_App_to_Clone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Inputs_from_Screen</name>
        <label>Store Inputs from Screen</label>
        <locationX>234</locationX>
        <locationY>146</locationY>
        <assignmentItems>
            <assignToReference>varWebsiteDomain</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCSPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CSPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCSEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CSEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDBA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DBA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIndustry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOtherIndustry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Industry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreferredBD</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Billing_Descriptor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTypeGoodsServicesSold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Goods_or_Services_Sold</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Application_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Strip_Website_URL_to_Domain_Only</name>
        <label>Strip Website URL to Domain Only</label>
        <locationX>55</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>varWebsiteDomain</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaWebDomain</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Community_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Temporary_Store_Original_Lead_Id</name>
        <label>Temporary Store Original Lead Id</label>
        <locationX>736</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>varTempLeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_App_to_Clone.null__NotFound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUserRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceNone</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <decisions>
        <name>All_Values_Provided</name>
        <label>All Values Provided?</label>
        <locationX>50</locationX>
        <locationY>281</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CSPhone.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CSEmail.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DBA</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Website</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Preferred_Billing_Descriptor</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type_of_Goods_or_Services_Sold</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Strip_Website_URL_to_Domain_Only</targetReference>
            </connector>
            <label>Provided</label>
        </rules>
        <rules>
            <name>Missing_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DBA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Website</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CSPhone.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CSEmail.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Preferred_Billing_Descriptor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type_of_Goods_or_Services_Sold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Inputs_from_Screen</targetReference>
            </connector>
            <label>Missing Values</label>
        </rules>
    </decisions>
    <decisions>
        <name>Community_User</name>
        <label>Community User?</label>
        <locationX>357</locationX>
        <locationY>634</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUserRecord.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Contact_Info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUserRecord.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Lead</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Includes logic to create a lead from a new application then update the Lead by triggering the Application --&gt; Lead Update Process</description>
    <dynamicChoiceSets>
        <name>choiceIndustry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>null__NotFound</picklistField>
        <picklistObject>Application__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>formulaRecordHyperlink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp;{!varNewApplication.Id} ,&quot;&quot;,&quot;_top&quot;)</expression>
    </formulas>
    <formulas>
        <name>formulaWebDomain</name>
        <dataType>String</dataType>
        <expression>IF(OR(BEGINS({!Website}, &quot;http://www&quot;),BEGINS({!Website}, &quot;https://www&quot;), BEGINS({!Website}, &quot;www.&quot;)),
    SUBSTITUTE({!Website}, LEFT({!Website}, FIND(&quot;.&quot;, {!Website})), NULL),

        IF(BEGINS({!Website}, &quot;http://&quot;),
            MID({!Website}, FIND(&apos;http://&apos;, {!Website}, 1)+7, (LEN({!Website}) - FIND(&apos;http://&apos;, {!Website}, 1)+7)),

                IF(BEGINS({!Website}, &quot;https://&quot;),
                    MID({!Website}, FIND(&apos;https://&apos;, {!Website}, 1)+8, (LEN({!Website}) - FIND(&apos;https://&apos;, {!Website}, 1)+8)),

                        {!Website}
                )
        )
)</expression>
    </formulas>
    <interviewLabel>Application Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Clone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>502</locationX>
        <locationY>833</locationY>
        <assignRecordIdToReference>varNewApplication.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_New_Application_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DBA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>Get_App_to_Clone.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>Get_User_Contact_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>Create_New_Lead</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Lead</name>
        <label>Create New Lead</label>
        <locationX>279</locationX>
        <locationY>834</locationY>
        <connector>
            <targetReference>Create_Application</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Get_App_to_Clone.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DBA_Name__c</field>
            <value>
                <elementReference>DBA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>Placeholder1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00541000000w8sEAAQ</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_App_to_Clone</name>
        <label>Get App to Clone</label>
        <locationX>891</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Temporary_Store_Original_Lead_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varClonedApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Contact_Info</name>
        <label>Get User Contact Info</label>
        <locationX>164</locationX>
        <locationY>635</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUserRecord.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUserRecord</name>
        <label>GetUserRecord</label>
        <locationX>547</locationX>
        <locationY>418</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Application_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Merchant_Lead_to_New_Application</name>
        <label>Assign Merchant Lead to New Application</label>
        <locationX>1065</locationX>
        <locationY>229</locationY>
        <connector>
            <targetReference>Force_Update_From_Lead_to_New_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewApplication.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>Create_New_Lead</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Merchant_Lead_to_New_Application_0</name>
        <label>Assign Merchant Lead to New Application</label>
        <locationX>1361</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewApplication.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DBA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>Get_App_to_Clone.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>Create_New_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>Other_Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>varWebsiteDomain</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Force_Update_From_Lead_to_New_Application</name>
        <label>Force Update From Lead to New Application</label>
        <locationX>1419</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>Assign_Merchant_Lead_to_New_Application_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Lead</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Get_App_to_Clone.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DBA_Name__c</field>
            <value>
                <elementReference>DBA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_App_to_Clone.null__NotFound.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_App_to_Clone.null__NotFound.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>CSEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>CSPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>Preferred_Billing_Descriptor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>Type_of_Goods_or_Services_Sold</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>varWebsiteDomain</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Application_0</name>
        <label>Reset Parent Lead on Application</label>
        <locationX>1064</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Assign_Merchant_Lead_to_New_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_App_to_Clone.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>varTempLeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>To trigger Updates from Application to Lead</description>
        <name>Update_New_Application_0_0</name>
        <label>ReParent Lead on Application</label>
        <locationX>1066</locationX>
        <locationY>640</locationY>
        <connector>
            <targetReference>Update_New_Application_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_App_to_Clone.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>Create_New_Lead</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>New_Application_Data</name>
        <label>New Application Data</label>
        <locationX>355</locationX>
        <locationY>436</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>All_Values_Provided</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Please complete the fields below. All other field values will be copied from the original application.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You can edit any fields anytime per the instructions on the Home page.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DBA</name>
            <dataType>String</dataType>
            <fieldText>DBA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Website</name>
            <dataType>String</dataType>
            <fieldText>Website (Please enter your domain only. Example: paydiverse.com)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Industry</name>
            <choiceReferences>choiceIndustry</choiceReferences>
            <choiceReferences>choiceOther</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceOther</defaultSelectedChoiceReference>
            <fieldText>Industry</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_Industry</name>
            <dataType>String</dataType>
            <fieldText>Other (Industry)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CSPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Service Phone Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varCSPhone</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CSEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Service Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varCSEmail</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Preferred_Billing_Descriptor</name>
            <dataType>String</dataType>
            <fieldText>Preferred Billing Descriptor (13-Characters Only)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;&quot;Please limit your response to 13 characters only! &quot;&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(LEN({!Preferred_Billing_Descriptor}) &lt; 14, true, false)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Type_of_Goods_or_Services_Sold</name>
            <dataType>String</dataType>
            <fieldText>Type of Goods or Services Sold</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1349</locationX>
        <locationY>704</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Your new application has been created. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Proceed to the&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 115, 255);&quot;&gt; &lt;/span&gt;&lt;u style=&quot;font-size: 14px; color: rgb(0, 47, 255);&quot;&gt;{!txtHomePage} &lt;/u&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;to manage your applications.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;To view your new application record, click &lt;u style=&quot;font-size: 14px; color: rgb(0, 47, 255);&quot;&gt;{!txtThisLink}.&lt;/u&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;You can also copy and paste this URL into your browser: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;https://paydiversemerchantportal.force.com/paydivesemerchantportal/s/detail/{!varNewApplication.Id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>374</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_App_Id</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <textTemplates>
        <name>txtHomePage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;/paydivesemerchantportal/s&quot;target=&quot;_self&quot;&gt;Home Screen&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtThisLink</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;/paydivesemerchantportal/s/detail/{!varNewApplication.Id}&quot;target=&quot;_self&quot;&gt;This Link&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClonedApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCSEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>CSEmail.value</elementReference>
        </value>
    </variables>
    <variables>
        <name>varCSPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>CSPhone.value</elementReference>
        </value>
    </variables>
    <variables>
        <name>varDBA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>DBA</elementReference>
        </value>
    </variables>
    <variables>
        <name>varIndustry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Industry</elementReference>
        </value>
    </variables>
    <variables>
        <name>varNewApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>varOtherIndustry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Other_Industry</elementReference>
        </value>
    </variables>
    <variables>
        <name>varPreferredBD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Preferred_Billing_Descriptor</elementReference>
        </value>
    </variables>
    <variables>
        <name>varTempLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTypeGoodsServicesSold</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Type_of_Goods_or_Services_Sold</elementReference>
        </value>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varWebsiteDomain</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Website</elementReference>
        </value>
    </variables>
</Flow>
