force-app/main/default/flows/Lead_mappint_to_contact_application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>When contact ID does not match ConvertedcontactID please send an error email alert to the admin &quot;Application not created&quot;</description>
        <name>Application_not_created_Email</name>
        <label>Application not created Email</label>
        <locationX>827</locationX>
        <locationY>499</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>natalia@huitzisolutions.io</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>The application record was not created</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>If_contact_ID_equals_convertedContactId_from_Lead</name>
        <label>If contact ID equals convertedContactId from Lead</label>
        <locationX>499</locationX>
        <locationY>347</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contactID_ConvertedContactId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact_record_created_from_lead_conversion.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ConvertedContactId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant_Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Application</targetReference>
            </connector>
            <label>contactID = ConvertedContactId</label>
        </rules>
        <rules>
            <name>When_contactID_does_NOT_EQUAL_ConvertedContactID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact_record_created_from_lead_conversion.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ConvertedContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_not_created_Email</targetReference>
            </connector>
            <label>When contactID does NOT EQUAL ConvertedContactID</label>
        </rules>
    </decisions>
    <description>Lead is converted = mapping to contact (after contact is created) the one that  has the field changes 19/03/2021</description>
    <interviewLabel>Lead mappint to contact - application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead mappint to contact - application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>816</locationX>
        <locationY>152</locationY>
        <inputAssignments>
            <field>DBA_Name__c</field>
            <value>
                <elementReference>$Record.DBA_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Federal_Tax_ID__c</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.DBA_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Security_Number2__c</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Security_Number__c</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1st_Owner_Officer_Last_Name__c</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X2nd_Owner_Last_Name__c</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.NumberOfEmployees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_contact_record_created_from_lead_conversion</name>
        <label>Get contact record created from lead conversion</label>
        <locationX>186</locationX>
        <locationY>448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_contact_ID_equals_convertedContactId_from_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>60</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Get_contact_record_created_from_lead_conversion</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
</Flow>
